.header {
    width: calc(100% - 228px);
    height: 48px;
    position: absolute;
    top: 0;
    left: 226px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
}

.header .header-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-item.header-item-left {
    max-width: 339px;
    margin-left: 16px;
}

.header .header-dropdown {
    width: 226px;
    margin-left: 16px;
    border: none;
}

.header .header-dropdown:hover {
    cursor: pointer;
}

.header .header-dropdown:focus {
    outline: none;
}

.header .header-left-text {
    font-family: GoogleSans-Black;
    font-size: 16px;
}

.header-item.header-item-right {
    margin-left: auto;
    display: flex;
}

.header-item-right .header-item-right-right {
    margin-right: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-item-right-right img {
    height: 24px;
}