.form-body {
    display: flex;
    height: 100%;
    padding-bottom: 12px;
    background-color: #ffffff;
}

.form-body .body-left {
  height: 100%;
  width: 25%;
  display: block;
}

.body-left .avatar {
    width: calc(100% - 48px);
    margin-top: 36px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    display: block;
    justify-content: center;
}

.body-left .text {
  text-align: center;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
}

.body-left .avatar:hover {
    cursor: pointer;
}