.table-pagination {
    width: calc(100% - 24px);
    height: 56px;
    position: absolute;
    bottom: 0;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-left, .pagination-right {
    height: 100%;
    max-width: 160px;
    display: flex;
    align-items: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-mid .pagination-icon {
    width: 36px;
    height: 36px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pagination-mid .pagination-icon:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.pagination-mid .pagination-icon:active {
    background-color: #bbbbbb;
}

.pagination-mid .pagination-number {
    width: 36px;
    line-height: 36px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
    border: 1px solid #bbbbbb;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

.pagination-mid .pagination-number:hover {
    background-color: #BBBBBB;
    color: white;
    cursor: pointer;
}

.pagination-mid .pagination-number:active {
    background-color: #ffffff;
    color: #000000;
}

.pagination-mid .pagination-number.active {
    background-color: #01B075;
    color: white;
}

.pagination-mid .pagination-number.active:hover {
    background-color: #2FBE8E;
}

.pagination-mid .pagination-number.active:active {
    background-color: #01B075;
}