.content {
    width: calc(100% - 228px);
    height: calc(100vh - 50px);
    position: absolute;
    left: 227px;
    top: 49px;
    background-color: #ffffff;
}

.content-item {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
}

.content-item .content-item-left {
    display: flex;
}

.content-item .content-item-right {
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.content-item.content-header {
    margin-top: 16px;
}

.content-item.search-module {
    margin-top: 12px;
}

.content-item-left-left {
    display: flex;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.content-item-left .table-name {
    font-family: GoogleSans-Black;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.content-item-left .searchbox {
    width: 328px;
    height: 42px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    margin-right: 12px;
    background-color: #ffffff;
    font-family: GoogleSans-Regular;
}

.searchbox .searchbox-icon {
    height: 24px;
    margin-top: 6px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-left: 8px;
}

.searchbox .searchbox-textfield {
    width: 100%;
    height: calc(100% - 2px);
    padding-right: 10px;
    border: none;
    font-size: 11px;
}

.searchbox-textfield:focus {
    outline: none;
    width: 100%;
}

.button-refresh {
    height: 42px;
    padding: 4px 12px 4px 12px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.button-refresh:hover {
    background-color: #bbbbbb;
}

.button-refresh:active {
    background-color: #ffffff;
}

.button-refresh img {
    margin: auto;
    height: 24px;
}

.button-delete {
    height: 42px;
    margin-right: 12px;
    padding: 4px 12px 4px 12px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.button-delete:hover {
    background-color: #ff0000;
}

.button-delete:active {
    background-color: #bbbbbb;
}

.button-delete svg {
    width: 24px !important;
}

.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}