.content {
    width: calc(100% - 228px);
    height: calc(100vh - 50px);
    position: absolute;
    left: 227px;
    top: 49px;
    background-color: #ffffff;
}

.content-item {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
}

.content-item .content-item-left {
    display: flex;
    align-items: center;
}

.content-item .content-item-right {
    margin-right: 0px;
    margin-left: auto;
}

.content-item.content-header {
    margin-top: 16px;
}

.content-item.search-module {
    margin-top: 12px;
}

.content-item-left-left {
    display: flex;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.content-item-left .table-name {
    font-family: GoogleSans-Black;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.content-item-left .searchbox {
    width: 328px;
    height: 38px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    margin-right: 12px;
    background-color: #ffffff;
    font-family: GoogleSans-Regular;
}

.searchbox .searchbox-icon {
    height: 24px;
    margin-top: 6px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-left: 8px;
}

.searchbox .searchbox-textfield {
    width: 100%;
    height: calc(100% - 2px);
    padding-right: 10px;
    border: none;
    font-size: 11px;
}

.searchbox-textfield:focus {
    outline: none;
    width: 100%;
}

.button-refresh {
    padding: 4px 12px 4px 12px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.button-refresh:hover {
    background-color: #bbbbbb;
}

.button-refresh:active {
    background-color: #ffffff;
}

.button-refresh img {
    margin: auto;
    height: 24px;
}

.select-wrapper {
    width: 170px;
    height: 38px;
    position: relative;
    margin-left: 6px;
}

.border-red {
    border-color: #ff0000 !important;
}

.select-wrapper .select {
    width: calc(100% - 18px);
    height: 100%;
    padding-left: 16px;
    display: flex;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.select-wrapper .select.open {
    border-color: #019160;
}

.select .select-trigger {
    width: calc(100% - 12px);
    height: calc(100% - 2px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    cursor: pointer;
}

.select-trigger .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}

.open .arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s;
}

.select .options {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #bbbbbb;
    border-top: none;
    background: #fff;
}

.select.open .options {
    opacity: 1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    pointer-events: all;
}

.options .option {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    padding-left: 10px;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
}

.option .option-left {
    width: 10px;
    height: 10px;
    position: relative;
    visibility: hidden;
    display: inline-block;
}

.option.selected .option-left {
    visibility: visible;
}

.option.selected .option-right {
    color: #ffffff;
}

.option .option-left::before {
    width: 2px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    background-color: #ffffff;
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.option .option-left::after {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #ffffff;
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
    overflow: auto;
}

.option-right {
    margin-left: 16px;
}

.options .option:hover {
    cursor: pointer;
    background-color: #E9EBEE;
}

.options .option.selected {
    background-color: #019160;
}