.table-container {
    width: calc(100% - 24px);
    height: calc(100vh - 226px);
    overflow: scroll;
    position: absolute;
    top: 113px;
    left: 12px;
}

.my-table {
    background-color: #ffffff;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.my-table th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.my-table td, th {
    padding: 10px 16px;
    border-bottom: 1px solid #bbbbbb;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #ffffff;
}

.tr-active {
    background-color: #01b075 !important;
}

tr:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

tr>*:nth-child(1) {
    width: 63px;
}

tr>*:nth-child(2) {
    width: 94px;
}

tr>*:nth-child(3) {
    width: 45px;
}

tr>*:nth-child(4) {
    width: 60px;
}

tr>*:nth-child(5) {
    width: 72px;
}

tr>*:nth-child(6) {
    width: 132px;
}

tr>*:nth-child(7) {
    width: 94px;
}

tr>*:nth-child(8) {
    width: 82px;
}

tr>*:nth-child(9) {
    width: 90px;
}

tr>*:nth-child(10) {
    width: 130px;
}

td:nth-child(9) {
    text-align: right;
}

tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

tbody tr:nth-child(odd) {
    background-color: #E9EBEE;
}

td:nth-child(9), th:nth-child(9) {
    text-align: right;
}
