* {
    font-family: GoogleSans-Regular;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #454545;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }
  
  *::-webkit-scrollbar-track {
    background: #D2D2D2;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
  }

@font-face {
    font-family: "GoogleSans-Black";
    src: url("../../assets/fonts/GoogleSans-Black.otf");
}

@font-face {
    font-family: "GoogleSans-BlackItalic";
    src: url("../../assets/fonts/GoogleSans-BlackItalic.otf");
}

@font-face {
    font-family: "GoogleSans-Bold";
    src: url("../../assets/fonts/GoogleSans-Bold.otf");
}

@font-face {
    font-family: "GoogleSans-BoldItalic";
    src: url("../../assets/fonts/GoogleSans-BoldItalic.otf");
}

@font-face {
    font-family: "GoogleSans-Italic";
    src: url("../../assets/fonts/GoogleSans-Italic.otf");
}

@font-face {
    font-family: "GoogleSans-Light";
    src: url("../../assets/fonts/GoogleSans-Light.otf");
}

@font-face {
    font-family: "GoogleSans-LightItalic";
    src: url("../../assets/fonts/GoogleSans-LightItalic.otf");
}

@font-face {
    font-family: "GoogleSans-Medium";
    src: url("../../assets/fonts/GoogleSans-Medium.otf");
}

@font-face {
    font-family: "GoogleSans-MediumItalic";
    src: url("../../assets/fonts/GoogleSans-MediumItalic.otf");
}

@font-face {
    font-family: "GoogleSans-Regular";
    src: url("../../assets/fonts/GoogleSans-Regular.otf");
}

@font-face {
    font-family: "GoogleSans-Thin";
    src: url("../../assets/fonts/GoogleSans-Thin.otf");
}

@font-face {
    font-family: "GoogleSans-ThinItalic";
    src: url("../../assets/fonts/GoogleSans-ThinItalic.otf");
}